html, body {
    background-image: url("../images/starwarsBG.jpg");
    background-color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
} 

* {
    box-sizing: border-box;
  }



.container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

}

.leftSide {
   
    background: rgba(255, 255, 255, 0.8);
    margin-right: 20px;
    float: left;
    width: 640px;
    padding: 10px;
}

.row {
    width: 640px;
    float: left;
}


.mainTitle {
    float: left;
    width: 300px;
}

.character {
    width: 150px;
    height: 130px;
    text-align: center;
    font-size: 15px;
    background-color: #fff;
    border: 2px solid green;
    float: left;
    cursor: pointer;
}

.chosenImage {
    width: 150px;
    height: 130px;
    text-align: center;
    font-size: 15px;
    background-color: #fff;
    border: 2px solid green;
    float: left;
}

.enemyImage {
    width: 150px;
    height: 130px;
    text-align: center;
    font-size: 15px;
    background-color: red;
    border: 2px solid #000;
    float: left;
    cursor: pointer;
}

.defenderImage {
    width: 150px;
    height: 130px;
    text-align: center;
    font-size: 15px;
    background-color: #000;
    border: 2px solid green;
    color: #fff;
    float: left;
}

#stats {
    font-size: 18px;
}

img {
    width: 140px;
    height: 90px;
}

.yourCharacter {
    height: 160px;
}


h1 {
    text-align: center;
    font-size: 40px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: #fff;
}

h3 {
    font-size: 26px;
}

#resetButton {
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 30px 250px;
    color: #000;
    background-color: rgb(69, 158, 106);
    border: solid #000 3px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}
